body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #1442c0, #c50f0f);
}
.cards-container {
    display: flex;
    gap: 200px; /* espace entre les cartes */
    justify-content: center;
    margin-top: 50px;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 20px;
}
