body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #1442c0, #c50f0f);
}
div {
    border: 100px solid rgb(146, 199, 23);
}
div {
    margin: 10px 20px 30px 40px;
}
div {
    padding: 10px 15px 20px 25px;
}